@page "{id}"
@model sql_web_app.Models.Servers.ServerEditModel
@{
    ViewData["Title"] = "Панель управления";
    ViewData["Subtitle"] = "";
}

<div class="container-fluid">
    <div class="col-6 mx-auto">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Изменить параметры сервера</h3>
            </div>
            <form method="post" id="my-form">

            <!-- card-body /. -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="location">Местоположение</label>
                        <input required type="text" name="location" class="form-control" id="location" placeholder="Введите местоположение" value="@Model.Atributes[0]" maxlength="20">
                        <div id="locationErrorBlock" class="error"></div>
                    </div>
                    <div class="form-group">
                        <label for="memory">Размер хранилища</label>
                        <input required type="number" name="memory" class="form-control" id="memory" placeholder="Введите размер хранилища" value="@Model.Atributes[1]" min="0" max="99999">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            @if (@Model.Atributes[2].Equals("0"))
                            {
                                <input class="custom-control-input" type="radio" id="Radio1" name="status" value="0" checked>
                            }
                            else
                            {
                                <input class="custom-control-input" type="radio" id="Radio1" name="status" value="0">
                            }
                            <label for="Radio1" class="custom-control-label">Онлайн</label>
                        </div>
                        <div class="custom-control custom-radio">
                            @if (!@Model.Atributes[2].Equals("0"))
                            {
                                <input class="custom-control-input" type="radio" id="Radio2" name="status" value="1" checked>
                            }
                            else
                            {
                                <input class="custom-control-input" type="radio" id="Radio2" name="status" value="1">
                            }
                            <label for="Radio2" class="custom-control-label">Офлайн</label>
                        </div>
                    </div>
                </div>
            <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" asp-page-handler="Accept" class="btn btn-primary">Принять</button>
                </div>
            </form>
            <form method="post">
                <div class="card-footer">
                    <button type="submit" asp-page-handler="Delete" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        const form = document.querySelector('#my-form');
        const locationInput = form.querySelector('#location');

        form.addEventListener('submit', (evt) => {
            
            // Получаем значения полей формы
            const location = locationInput.value;

            if (isValidLocation(location)) {
                $("#location").removeClass('errorBorder');
                $('#locationErrorBlock').html('');
            }          

            if (!isValidLocation(location)) {
                $("#location").addClass('errorBorder');
                $('#locationErrorBlock').html('Местоположение может содержать только буквы, цифры, пробелы, знаки \"-\", \"_\", \"()\", \"№\" и \"#\"');
                evt.preventDefault();
            }
        });

        function isValidLocation(location) {
            // Проверка имени регулярным выражением
            const pattern = /^[a-zA-ZА-Яа-я0-9\s-_№#()]{0,20}$/;
            return pattern.test(location);
        }        
    </script>
}