@page
@model sql_web_app.Models.Servers.ServerModel
@{
    ViewData["Title"] = "Панель управления";
    ViewData["Subtitle"] = "Сети";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
	    	<div class="card">
	    		<div class="card-header">
	    			<div class="d-flex align-items-center justify-content-between">
	          	        <h3 class="card-title">Сервера</h3>
                        <a href="/Servers/Create" class="btn btn-block btn-outline-primary col-1">Добавить</a>
    				</div>
                </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Номер</th>
                            <th>Местоположение сервера</th>
                            <th>Общий размер хранилища</th>
                            <th>Статус</th>
                            <th>Редактировать</th>
                        </tr>
                        </thead>
                        <tbody>
                            @foreach (string[] item in Model.Rows)
                            {
                                <tr>
                                    <td>@item[0]</td>
                                    <td>@item[1]</td>
                                    <td>@item[2] Гб</td>
                                    @if (@item[3].Equals("0"))
                                    {
                                        <td>Онлайн</td>
                                    }
                                    else
                                    {
                                        <td>Офлайн</td>
                                    }
                                    <td>
                                        <a href="/Servers/Edit/@item[0]"><button type="button" class="btn btn-block btn-default"><i class="fas fa-edit"></i></button></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
	    	</div>
	    </div>
	</div>
</div>