@page
@model sql_web_app.Models.IndexModel
@{
    ViewData["Title"] = "Панель управления";
    ViewData["Subtitle"] = "";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Этот текст я вставил сюда, чтобы заполнить пустое пространство.</p>
    <p>Но ты можешь увидеть всю необходимую тебе информацию слева в меню навигации.</p>
</div>
