@page "{id}"
@model sql_web_app.Models.Tariffs.TariffEditModel
@{
    ViewData["Title"] = "Панель управления";
    ViewData["Subtitle"] = "";
}

<div class="container-fluid">
    <div class="col-6 mx-auto">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Изменить тариф</h3>
            </div>
            <form method="post">

            <!-- card-body /. -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="memory">Выделяемая память</label>
                        <input required type="number" name="memory" class="form-control" id="memory" value="@Model.Atributes[0]">
                    </div>
                    <div class="form-group">
                        <label for="price">Цена в месяц</label>
                        <input required type="number" step="0.01" name="price" class="form-control" id="price" value="@Model.Atributes[1]">
                    </div>
                    <div id="errorBlock"></div>
                </div>
            <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" asp-page-handler="Accept" class="btn btn-primary">Принять</button>
                </div>
            </form>
            <form method="post">
                <div class="card-footer">
                    <button type="submit" asp-page-handler="Delete" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>