@page
@model sql_web_app.Models.Storages.StorageCreateModel
@{
    ViewData["Title"] = "Панель управления";
    ViewData["Subtitle"] = "";
}

<form method="post">
	<div class="container-fluid">
        <div class="col-6 mx-auto">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Добавить новое хранилище</h3>
                </div>

            <!-- card-body /. -->
                <div class="card-body">
                <!-- select -->
                    <div class="form-group">
                        <label>Пользователь</label>
                        <select required class="custom-select" name="client_id">
                            <option selected disabled hidden value="">Выберете пользователя</option>
                            @foreach (int idx in Model.Clients.Keys)
                            {
                                <option value="@idx">@Model.Clients[idx]</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="memory">Размер хранилища</label>
                        <input required type="number" name="memory" class="form-control" id="memory" placeholder="Введите размер хранилища">
                    </div>
                    <div class="form-group">
                        <label>Местоположение сервера</label>
                        <select required class="custom-select" name="server_id">
                            <option selected disabled hidden value="">Выберете сервер</option>
                            @foreach (int idx in Model.Locations.Keys)
                            {
                                <option value="@idx">@Model.Locations[idx]</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="endDatetime">Дата и время окончания действия</label>
                        <input required type="datetime-local" name="endDatetime" class="form-control" id="endDatetime">
                    </div>
                    <div id="errorBlock"></div>
                </div>
            <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</form>